.sidebar {
  background-color: #BBE1FA !important; 
  padding: 0% !important;
  margin: 0% !important;
z-index: 1000 !important;
position: relative;
}

.bar-container {
  background-color: #e1f3ff !important; 

}
.sidebar-logo {
  height: 30px !important;
}
