.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.shadow ::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }
  .shadow ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .shadow:hover ::-webkit-scrollbar-thumb {
    background-color: gray;
  }

