.login {
    background-color: #BBE1FA;
    padding: 50px;
}
.login-banner {
    padding: 10px;
}
.login-banner p {
    padding: 20px;
}
.login-banner h5 {
    padding: 20px;
}
.login-img{
    width: 300px;

}
.login-card {
    margin-top: 5%;
    position: relative;
    background-color: transparent;
    text-align: center;
    padding: 10px;
}
.textfield {
    border-width: 0 0 1px 0;
    border-radius: 0px;
    padding: 0.75rem 0;
    background: transparent !important;
}
.sign-button .btn {
    border-radius: 200px !important;
    background-color: #1572E8;
}
a {
    text-decoration: none;
}
